<div class="jumbotron">
    {{getUserNickName()}}
    <h1 class="center">¡Hola, {{userName}}!</h1>
    <p class="lead center">Aquí encontrarás tu información, recomendaciones y dieta.</p>
    <hr class="my-4">
    <ul>
        <p class="lead">
            <a class="btn btn-primary btn-lg lft" href="#" role="button">Rutinas</a>
            <a class="btn btn-primary btn-lg rgt" href="#" role="button">Dieta</a>
        </p>
    </ul>
</div>

<h2 class="center">Recomendaciones</h2>
<table class="table table-hover">
    <tbody>
        <tr class="table-light">
            <th scope="row"> </th>
            <td>Horas de sueño:</td>
            <td>Te recomendamos dormir de 7 a 8 horas.</td>
        </tr>
        <tr class="table-primary">
            <th scope="row"></th>
            <td>Horas de ejercicio semanal: </td>
            <td>Debes hacer como mínimo 3 horas de ejercicio a la semana</td>
        </tr>
        <tr class="table-light">
            <th scope="row"> </th>
            <td>Litros de agua diarios:</td>
            <td>Recuerda tomar dos litros y medio de agua a diario.</td>
        </tr>

    </tbody>
</table>