<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="car">
            <div class="car-body">
                <h1 class= "text-center">REGISTRO</h1>
                <form>
                    <div class="form-group">
                        <label for="nombreCompleto">Nombre completo</label>
                        <input type="text" name="nombreCompleto" id="usuario" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="usuario">Nombre de usuario</label>
                        <input type="usuario" name="usuario" id="usuario" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="estatura">Estatura</label>
                        <input type="number" name="estatura" id="estatura" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Peso">Peso</label>
                        <input type="number" name="Peso" id="peso" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Género">Género:</label>
                        <p></p><input type="radio" id="femenino" name="genero" value="femenino">
                        <label for="femenino"> Femenino</label><br>
                        <input type="radio" id="masculino" name="genero" value="masculino">
                        <label for="masculino"> Masculino</label><br>
                    </div>
                    <div class="form-group">
                        <label for="Actividad">Actividad Física:</label>
                        <p></p><input type="radio" id="nula" name="actividad" value="nula">
                        <label for="nula"> Nula</label><br>
                        <input type="radio" id="regular" name="actividad" value="regular">
                        <label for="regular"> Regular</label><br>
                        <input type="radio" id="intensa" name="actividad" value="intensa">
                        <label for="intensa"> Intensa</label><br>
                    </div>
                    <div class="form-group">
                        <label for="contraseña">Contraseña</label>
                        <input type="password" name="contraseña" id="contraseña" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Correo">Correo Electrónico</label>
                        <input type="correo" name="correo" id="correo" class="form-control">
                    </div>
                    <input type="submit" value="SIGUIENTE" class="btn btn-primary btn-block btn-lg">
                </form>
            </div>
        </div>
    </div>
</div>

