<div class="container">
<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-content">
                <h1 class= "text-center">REGISTRO</h1>
                <form #userForm="ngForm" (ngSubmit)="addUser(userForm)">
                    <div class="row">
                        <label for="nombreCompleto">Nombre completo</label>
                        <input type="text" name="nombreC" #nombreC="ngModel" [(ngModel)]="usersService.selectedUser.nombreC"
                        class="form-control">
                    </div>
                    <div class="row">
                        <label for="usuario">Nombre de usuario</label>
                        <input type="text" name="usuario" #usuario="ngModel" [(ngModel)]="usersService.selectedUser.usuario"
                        class="form-control">
                    </div>
                    <div class="row">
                        <label for="estatura">Estatura</label>
                        <input type="text" name="estatura" #estatura="ngModel" [(ngModel)]="usersService.selectedUser.estatura" 
                        class="form-control">
                    </div>
                    <div class="row">
                        <label for="Peso">Peso</label>
                        <input type="text" name="peso" #peso="ngModel" [(ngModel)]="usersService.selectedUser.peso"
                         class="form-control">
                    </div>
                    <div class="row">
                        <label for="contraseña">Contraseña</label>
                        <input type="text" name="contrasena"  #contrasena="ngModel" [(ngModel)]="usersService.selectedUser.contrasena"
                         class="form-control">
                    </div>
                    <div class="row">
                        <label for="correo">Correo Electrónico</label>
                        <input type="text" name="correo"  #correo="ngModel" [(ngModel)]="usersService.selectedUser.correo"
                         class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Género">Género:</label>
                        <p></p><input type="radio" id="femenino" name="genero" value="femenino">
                        <label for="femenino"> Femenino</label><br>
                        <input type="radio" id="masculino" name="genero" value="masculino">
                        <label for="masculino"> Masculino</label><br>
                    </div>
                    <div class="form-group">
                        <label for="Actividad">Actividad Física:</label>
                        <p></p><input type="radio" id="nula" name="actividad" value="nula">
                        <label for="nula"> Nula</label><br>
                        <input type="radio" id="regular" name="actividad" value="regular">
                        <label for="regular"> Regular</label><br>
                        <input type="radio" id="intensa" name="actividad" value="intensa">
                        <label for="intensa"> Intensa</label><br>
                    </div>
                    
                    <input type="submit" value="SIGUIENTE" class="btn btn-primary btn-block btn-lg">
                </form>
            </div>
        </div>
    </div>
</div>
</div>
