<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card">
                {{showInfo()}}
                <div class="card-content">
                    <h1 class="text-center">{{usName}}</h1>
                    <div class="form-group">
                        <h5>
                            Nombre completo:
                            <small class="text-muted">{{fullName}}</small>
                        </h5>
                    </div>
                    <div class="form-group">
                        <h5>
                            Nombre de usuario:
                            <small class="text-muted">{{userName}}</small>
                        </h5>
                    </div>
                    <div class="form-group">
                        <h5>
                            Estatura:
                            <small class="text-muted">{{height}}</small>
                        </h5>
                    </div>
                    <div class="form-group">
                        <h5>
                            Peso:
                            <small class="text-muted">{{weight}}</small>
                        </h5>
                    </div>
                    <div class="form-group">
                        <h5>
                            Correo electrónico:
                            <small class="text-muted">{{email}}</small>
                        </h5>
                    </div>
                    <div class="form-group">
                        <h5>
                            Genero:
                            <small class="text-muted" *ngIf='gender'>Femenino</small>
                            <small class="text-muted" *ngIf='!gender'>Masculino</small>
                        </h5>
                    </div>
                    <div class="form-group">
                        <h5>
                            Actividad Física:
                            <small class="text-muted">{{activity}}</small>
                        </h5>
                    </div>
                    <div>
                                <input type="submit" value="EDITAR" class="btn btn-primary btn-block btn-lg">
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>